<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Quantium Virtual Internship</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>

    <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<!-- icon bootstrap from fontawesome.com -->
<script src="https://kit.fontawesome.com/589702e743.js" crossorigin="anonymous"></script>

<style>
    .text-center {
        text-align:center;
    }
    #horizontal-list li {
        margin:10px;
        display:inline;
        
    }

</style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
        <a class="navbar-brand" href="#">
            <img src='static/site_regular_pics/quantium_logo.png' width="30" height="30">
            Quantium
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('home')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('module1')}}">Module One</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('module2')}}">Module Two</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
          </ul>
        </div>
      </nav>
      
      <div class="jumbotron jumbotron-fluid m-xs-3 p-xs-1 m-sm-5 p-sm-5">
        <h1 class="display-4 text-center">Quantium Virtual Internship</h1>
        <center>
          <ul id="horizontal-list">
            <li>
              <a href = "https://www.linkedin.com/in/daniel-tsai-chia/" target="_blank" style="color:inherit">
                <i class='fab fa-linkedin' style='font-size:24px'></i>
              </a>
            </li>
            <li>
              <a href = "https://github.com/daniel8691" target="_blank" style="color:inherit">
                <i class='fab fa-github' style='font-size:24px'></i>
              </a>				
            </li>
            <!-- <li>
              <a href = "https://www.instagram.com/daniel_tsai50/" target="_blank" style="color:inherit">
                <i class='fab fa-instagram' style='font-size:24px'></i>
              </a>					
            </li> -->
            <!-- <li>
              <a href = "https://public.tableau.com/profile/daniel8010#!/" target="_blank" style="color:inherit">
                <i class="fas fa-chart-bar" style='font-size:24px'></i>
              </a>					
            </li> -->
          </ul>
        </center>
        
        <br>
        <p class="lead text-center">Project Description</p>
        <hr class="my-4">
        <p>
          Quantium has a partnership with a large supermarket brand for the past few years
          who provides transactional and customer data. Supermarkets regularly change their store
          layouts, product selections, prices, and promotions. This is to satisfy the customer's changing
          needs and preferences, keep up with the increasing competition in the market or to
          capitalize on new opportunities. 
            
        </p>
        <p>
          My task as a data analyst is to evaluate and analyze the performance of any changes that
          the client has made and recommend whether the change has been successful.
        </p>
        <p>
          Navigate through the <a href="{{ url_for('module1')}}" target="_blank">Module One</a>
           and <a href="{{ url_for('module2')}}" target="_blank">Module Two</a> tabs at the top 
          of the page to read up on my analysis. Feel free to zoom in on any graphs within the 
          two pages for a closer look!
        </p>
          <br>
          <div class="container">
            <center>
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style="width:70%;">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="static/site_regular_pics/quantium_wallpaper1.jpg" class="d-block w-100" id="carousel-size" alt="quantium logo">
                      <!-- <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                      </div> -->
                    </div>
                    <div class="carousel-item">
                      <img src="static/analysis_pics/Lifestage_vs_numberOfCustomers.png" class="d-block w-100" alt="Lifestage vs Purchase Per Customer">
                      <!-- <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div> -->
                    </div>
                    <div class="carousel-item">
                      <img src="static/analysis_pics/purchase_trend_by_brand.png" class="d-block w-100" alt="...">
                      <!-- <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                      </div> -->
                    </div>
                    <div class="carousel-item">
                      <img src="static/module2_analysis_pics/trial_86_customerByMonth.png" class="d-block w-100" alt="Lifestage vs Purchase Per Customer">
                      <!-- <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div> -->
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
          
              </center>
          </div>

        <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
      </div>
<!-- 
      <br>
      <div class='text-center'>
        <h1>Quantium Virtual Internship</h1>
      </div>
      <hr> -->
<!-- 
      <br> -->
    
     
</body>
</html>