<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Quantium Virtual Internship</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>

    <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<style>
    .text-center {
        text-align:center;
    }
</style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
        <a class="navbar-brand" href="#">
            <img src='static/site_regular_pics/quantium_logo.png' width="30" height="30">
            Quantium
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('home')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('module1')}}">Module One</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('module2')}}">Module Two</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
          </ul>
        </div>
      </nav>

      <br>
      <div class='text-center'>
        <h1>Quantium Virtual Internship</h1>
      </div>
      <hr>

      <br>
      <div class="container">
        <h3>Project Description</h3>
        <br>
        <h6>
            Data Cleaning
        </h6>
        <table border="1" class="table table-dark">
            <thead>
              <tr style="text-align: right;">
                <th></th>
                <th>LYLTY_CARD_NBR</th>
                <th>LIFESTAGE</th>
                <th>PREMIUM_CUSTOMER</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>0</th>
                <td>1000</td>
                <td>YOUNG SINGLES/COUPLES</td>
                <td>Premium</td>
              </tr>
              <tr>
                <th>1</th>
                <td>1002</td>
                <td>YOUNG SINGLES/COUPLES</td>
                <td>Mainstream</td>
              </tr>
              <tr>
                <th>2</th>
                <td>1003</td>
                <td>YOUNG FAMILIES</td>
                <td>Budget</td>
              </tr>
              <tr>
                <th>3</th>
                <td>1004</td>
                <td>OLDER SINGLES/COUPLES</td>
                <td>Mainstream</td>
              </tr>
              <tr>
                <th>4</th>
                <td>1005</td>
                <td>MIDAGE SINGLES/COUPLES</td>
                <td>Mainstream</td>
              </tr>
            </tbody>
          </table>
        <p>
            First, I made sure all the data are in the correct data types. For instance, the date 
            column was in excel style date format which I converted into %Y-%m-%d format for 
            readability. I then checked if there are any null values in the dataset which there 
            were none. The feature called “PROD_NAME” contained some information that could be 
            split into their own respective columns. Using the values in the product name column, 
            I extracted the Weight of the product as well as the Brand Name which is simply the 
            first word of each value in the feature set. 
        </p>
        <p>
            To handle outliers, I used the z-score approach on the total sales numbers and removed 
            data points that have a z-score of over three and under negative three. In order to check 
            for data consistency, I checked the unique values for each feature, and found that under 
            brand names, there were many brands that were described in different names. For instance, 
            “Natural” was also recorded as “ncc”, “Grainwaves” was also recorded as “Grain” or 
            “Grnwves”,etc… I renamed all the unique values into consistent names for each brand.  
        </p>
        <br>
        <p>
            The life stage feature identifies whether a customer has a family or not and what point 
            in life they are at. For example, are their children in pre-school/primary/secondary 
            school. 
        </p>
      </div>
      
     
</body>
</html>