<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Quantium Virtual Internship</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>

    <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<style>
    .text-center {
        text-align:center;
    }
    .my-center {
        display:block;
        margin-left: auto;
        margin-right: auto;
        width:75%;
    }
</style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
        <a class="navbar-brand" href="{{ url_for('home')}}">
            <img src='static/site_regular_pics/quantium_logo.png' width="30" height="30">
            Quantium
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('home')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('module1')}}">Module One</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('module2')}}">Module Two</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
          </ul>
        </div>
      </nav>

      <div class="jumbotron jumbotron-fluid m-xs-3 p-xs-1 m-sm-5 p-sm-5">
        <h1 class="display-4">Data Preparation And Customer Analytics</h1>
        <br>
        <p class="lead text-center">Data Cleaning</p>
        <hr class="my-4">

        <br>
        <div style='width:100%; overflow:scroll'>
            <table class="table">
            <caption>Top five rows of the Transactions dataset (Cleaned)</caption>
      
                <thead class="thead-dark">
                    <tr style="text-align: center;">
                      <th></th>
                      <th>index</th>
                      <th>DATE</th>
                      <th>STORE NBR</th>
                      <th>LYLTY CARD NBR</th>
                      <th>TXN ID</th>
                      <th>PROD NBR</th>
                      <th>PROD NAME</th>
                      <th>BRAND NAME</th>
                      <th>PROD SIZE</th>
                      <th>PROD QTY</th>
                      <th>TOT SALES</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>0</th>
                      <td>0</td>
                      <td>2018-10-17</td>
                      <td>1</td>
                      <td>1000</td>
                      <td>1</td>
                      <td>5</td>
                      <td>Natural chip        compny seasalt</td>
                      <td>Natural</td>
                      <td>175</td>
                      <td>2</td>
                      <td>6.0</td>
                    </tr>
                    <tr>
                      <th>1</th>
                      <td>1</td>
                      <td>2019-05-14</td>
                      <td>1</td>
                      <td>1307</td>
                      <td>348</td>
                      <td>66</td>
                      <td>CCS nacho cheese</td>
                      <td>CCS</td>
                      <td>175</td>
                      <td>3</td>
                      <td>6.3</td>
                    </tr>
                    <tr>
                      <th>2</th>
                      <td>2</td>
                      <td>2019-05-20</td>
                      <td>1</td>
                      <td>1343</td>
                      <td>383</td>
                      <td>61</td>
                      <td>Smiths crinkle cut  chips chicken</td>
                      <td>Smiths</td>
                      <td>170</td>
                      <td>2</td>
                      <td>2.9</td>
                    </tr>
                    <tr>
                      <th>3</th>
                      <td>3</td>
                      <td>2018-08-17</td>
                      <td>2</td>
                      <td>2373</td>
                      <td>974</td>
                      <td>69</td>
                      <td>Smiths chip thinly  s/cream&amp;onion</td>
                      <td>Smiths</td>
                      <td>175</td>
                      <td>5</td>
                      <td>15.0</td>
                    </tr>
                    <tr>
                      <th>4</th>
                      <td>4</td>
                      <td>2018-08-18</td>
                      <td>2</td>
                      <td>2426</td>
                      <td>1038</td>
                      <td>108</td>
                      <td>Kettle tortilla chpshny&amp;jlpno chili</td>
                      <td>Kettle</td>
                      <td>150</td>
                      <td>3</td>
                      <td>13.8</td>
                    </tr>
                  </tbody>
                </table>
            </div>
            
       
        <p>
            First, I made sure all the data are in the correct data types. For instance, the date 
            column was in excel style date format which I converted into %Y-%m-%d format for 
            readability. I then checked if there are any null values in the dataset which there 
            were none. The feature called “PROD_NAME” contained some information that could be 
            split into their own respective columns. Using the values in the product name column, 
            I extracted the Weight of the product as well as the Brand Name which is simply the 
            first word of each value in the feature set. 
        </p>
        <p>
            To handle outliers, I used the z-score approach on the total sales numbers and removed 
            data points that have a z-score of over three and under negative three. In order to check 
            for data consistency, I checked the unique values for each feature, and found that under 
            brand names, there were many brands that were described in different names. For instance, 
            “Natural” was also recorded as “ncc”, “Grainwaves” was also recorded as “Grain” or 
            “Grnwves”,etc… I renamed all the unique values into consistent names for each brand.  
        </p>
        <br>
        <table class="table">
            <caption>Top five rows of the Customer Behaviors dataset (Cleaned)</caption>
            <thead class="thead-dark">
              <tr style="text-align: center;">
                <th></th>
                <th>LYLTY CARD NBR</th>
                <th>LIFESTAGE</th>
                <th>CUSTOMER SEGMENTS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>0</th>
                <td>1000</td>
                <td>YOUNG SINGLES/COUPLES</td>
                <td>Premium</td>
              </tr>
              <tr>
                <th>1</th>
                <td>1002</td>
                <td>YOUNG SINGLES/COUPLES</td>
                <td>Mainstream</td>
              </tr>
              <tr>
                <th>2</th>
                <td>1003</td>
                <td>YOUNG FAMILIES</td>
                <td>Budget</td>
              </tr>
              <tr>
                <th>3</th>
                <td>1004</td>
                <td>OLDER SINGLES/COUPLES</td>
                <td>Mainstream</td>
              </tr>
              <tr>
                <th>4</th>
                <td>1005</td>
                <td>MIDAGE SINGLES/COUPLES</td>
                <td>Mainstream</td>
              </tr>
            </tbody>
          </table>
        <p>
            The <b>Life Stage</b> feature identifies whether a customer has a family or not and what point 
            in life they are at. For example, are their children in pre-school/primary/secondary 
            school. The <b>Customer Segment</b> feature is the customer segmentation used to differentiate 
            shoppers by the price point of products they buy and the types of products they buy. It is used 
            to identify whether customers may spend more for quality or brand of whether they will purchase 
            the cheapest options. 

        </p>
        <p>
            Similar to what I did for the transactions dataset, I checked whether there are any null values, 
            checked unique values, and minimum/maximum values for each feature with numeric data. Not much 
            data cleaning was required for the customer behavior dataset and by plotting a simple bar chart, 
            I can see that most of the customers are labelled “Mainstream” so this may be a factor to keep 
            in mind, when deciding which customer segment to focus our attention on. 
            <figure class="figure">
                <img src="static/analysis_pics/customerBahavior.png" class="figure-img img-fluid rounded" alt="...">
                <!-- <figcaption class="figure-caption">A caption for the above image.</figcaption> -->
              </figure>
        </p>
        <br>
        <p class="lead text-center">Data Analysis</p>
        <hr class="my-4">
        <p>
            To prepare for the analysis, I merged the two given datasets. Some key metrics I will focus on
            for this analysis are:
            <ul>
                <li>
                    Who spends the most on chips (total sales), describing customers by lifestage 
                    and how premium their general purchasing behavior is
                </li>
                <li>
                    How many customers are in each segment?
                </li>
                <li>
                    How many chips are bought per customer by segment?
                </li>
                <li>
                    What's the average chip price by customer segment?
                </li>
            </ul>
        </p>
        <br>
        <h6>Find Out Which Customer Segment Spends The Most On Chips</h6>

        <figure class="figure">
            <img src="static/analysis_pics/Lifestage_vs_totalSales.png" class="figure-img my-center rounded" alt="...">
            <!-- <figcaption class="figure-caption my-center">A caption for the above image.</figcaption> -->
          </figure>
          <p>
              Sales mostly came from the <i>Budget customers</i> from the "Older families" segment, and <i>mainstream customers</i> from 
              the "young singles/couples" and "Retirees" segment.
          </p>
          <p>
              Now check to see if the higher sales are caused by higher number of customers in the respective 
              customer segment
          </p>
        <br>

        <h6>Number of Customers In Each Customer Segment</h6>
        <figure class="figure">
            <img src="static/analysis_pics/Lifestage_vs_numberOfCustomers.png" class="figure-img my-center rounded" alt="...">
            <!-- <figcaption class="figure-caption my-center">A caption for the above image.</figcaption> -->
        </figure>
        <p>
            There are more <i>Mainstream customers</i> in "Young singles/couples" and "retirees" segments, which lead
            to a higher total sales for the respective segments. The number <i>Budget customers</i> in the "Older Families" 
            segment, however, was not a major driver of sales.
            
        </p>
        <p>
            Other factors that contribute to total sales could be units purchased. In other words, could we expect a higher
            sales number for a specific customer segment just because each customer purchased more? I will visualize this in 
            the following section.            
        </p>
        <br>
        <h6>Number of Customers In Each Customer Segment</h6>
        <figure class="figure">
            <img src="static/analysis_pics/Lifestage_vs_purchasePercustomer.png" class="figure-img my-center rounded" alt="...">
            <!-- <figcaption class="figure-caption my-center">A caption for the above image.</figcaption> -->
        </figure>
        <p>
            From this graph, we can see that customers from the "older families" and "young families" in general buy more chips, 
            averaging over four packs of chips per customer. 
        </p>
        <p>
            Next we investigate the average price per unit for each customer segment as this is also a driver of total sales.
        </p>
        <br>
        
        <h6>Average Price Per Unit For Each Customer Segment</h6>
        <figure class="figure">
        
            <img src="static/analysis_pics/Lifestage_vs_pricePerunit.png" class="figure-img my-center rounded" alt="...">
            <!-- <figcaption class="figure-caption my-center">A caption for the above image.</figcaption> -->
        </figure>





        <p class="lead text-center">Conclusion</p>
        <hr class="my-4">
        <p>
            Sales are the highest for Budget customers in the "Older Families" segment, mainstream customers in the "young singles/couples"
            segment, and mainstream customers from the "Retirees" segment respectively. I later found out that the high sales numbers for (Mainstream, 
            young singles/couples) and (Mainstream, Retirees) can be explained by these segments having more customers. 
        </p>



    



        <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
      </div>
      


      
     
</body>
</html>