<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Quantium Virtual Internship</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>

    <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<!-- scrolling navbar -->
<!-- add after bootstrap.min.css -->
<link
  rel="stylesheet"
  href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css"
/>
<!-- add after bootstrap.min.js -->
<script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>



<style>
    .text-center {
        text-align:center;
    }
    .my-center {
        display:block;
        margin-left: auto;
        margin-right: auto;
        width:75%;
    }

    html {
        scroll-behavior: smooth;
    }
    .another-lead {
        font-weight:300;
    }
</style>

</head>
<body data-spy="scroll" data-target="#toc" id="top-of-the-world">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
        <a class="navbar-brand" href="{{ url_for('home')}}">
            <img src='static/site_regular_pics/quantium_logo.png' width="30" height="30">
            Quantium
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('home')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('module1')}}">Module One</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('module2')}}">Module Two</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
          </ul>
        </div>
      </nav>
      

      <div class="jumbotron jumbotron-fluid m-xs-3 p-xs-1 m-sm-5 p-sm-5">
        
        <h1 class="display-4">Data Preparation And Customer Analytics</h1>
        <br>
        <!-- <center> -->
        <div class='row'>
            <div class="col-sm-6">
                <div class="card" style="width: 80%;">
                    <div class="card-body">
                      <p class="card-title" style="font-size:1.8em;"><b>Table of Content</b></p>
                      <nav id="toc" data-toggle="toc" style="text-align:left;"></nav>
                      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    </div>
                  </div>
            </div>
            <div class="col-sm-6">
                <br>
                <p>
                    The tasks for this module is to conduct analysis on the client's transaction dataset and 
                    identify customer purchasing behaviors to generate insights and provide commerical recommendations.
                </p>
                <p>
                    Feel free to check out the codes behind this analysis
                    <a href="https://dataviz-class-1-dt.s3.us-east-2.amazonaws.com/module_one_data_preparation+(1).html" role="button" target="_blank">
                        here</a>!
                </p>
            </div>
          
        </div>
            
        <!-- </center> -->
       
        
        <br>
        <h4 class="another-lead text-center">Data Cleaning</h4>
        <hr class="my-4">

        <br>
        <div style='width:100%; overflow:scroll'>
            <table class="table table-striped">
            <caption>Top five rows of the Transactions dataset (Cleaned)</caption>
      
                <thead class="thead-dark">
                    <tr style="text-align: center;">
                      <!-- <th></th> -->
                      <!-- <th>index</th> -->
                      <th>DATE</th>
                      <th>STORE NBR</th>
                      <th>LYLTY CARD NBR</th>
                      <th>TXN ID</th>
                      <th>PROD NBR</th>
                      <th>PROD NAME</th>
                      <th>BRAND NAME</th>
                      <th>PROD SIZE</th>
                      <th>PROD QTY</th>
                      <th>TOT SALES</th>
                    </tr>
                  </thead>
                  <tbody style="text-align: center">
                    <tr>
                      <!-- <th>0</th> -->
                      <!-- <td>0</td> -->
                      <td>2018-10-17</td>
                      <td>1</td>
                      <td>1000</td>
                      <td>1</td>
                      <td>5</td>
                      <td>Natural chip        compny seasalt</td>
                      <td>Natural</td>
                      <td>175</td>
                      <td>2</td>
                      <td>6.0</td>
                    </tr>
                    <tr>
                      <!-- <th>1</th> -->
                      <!-- <td>1</td> -->
                      <td>2019-05-14</td>
                      <td>1</td>
                      <td>1307</td>
                      <td>348</td>
                      <td>66</td>
                      <td>CCS nacho cheese</td>
                      <td>CCS</td>
                      <td>175</td>
                      <td>3</td>
                      <td>6.3</td>
                    </tr>
                    <tr>
                      <!-- <th>2</th> -->
                      <!-- <td>2</td> -->
                      <td>2019-05-20</td>
                      <td>1</td>
                      <td>1343</td>
                      <td>383</td>
                      <td>61</td>
                      <td>Smiths crinkle cut  chips chicken</td>
                      <td>Smiths</td>
                      <td>170</td>
                      <td>2</td>
                      <td>2.9</td>
                    </tr>
                    <tr>
                      <!-- <th>3</th> -->
                      <!-- <td>3</td> -->
                      <td>2018-08-17</td>
                      <td>2</td>
                      <td>2373</td>
                      <td>974</td>
                      <td>69</td>
                      <td>Smiths chip thinly  s/cream&amp;onion</td>
                      <td>Smiths</td>
                      <td>175</td>
                      <td>5</td>
                      <td>15.0</td>
                    </tr>
                    <tr>
                      <!-- <th>4</th> -->
                      <!-- <td>4</td> -->
                      <td>2018-08-18</td>
                      <td>2</td>
                      <td>2426</td>
                      <td>1038</td>
                      <td>108</td>
                      <td>Kettle tortilla chpshny&amp;jlpno chili</td>
                      <td>Kettle</td>
                      <td>150</td>
                      <td>3</td>
                      <td>13.8</td>
                    </tr>
                  </tbody>
                </table>
            </div>
            
       
        <p>
            First, I made sure all the data are in the correct data types. For instance, the date 
            column was in excel style date format which I converted into %Y-%m-%d format for 
            readability. I then checked if there are any null values in the dataset which there 
            were none. The feature called “PROD_NAME” contained some information that could be 
            split into their own respective columns. Using the values in the product name column, 
            I extracted the Weight of the product as well as the Brand Name which is simply the 
            first word of each value in the feature set. 
        </p>
        <p>
            To handle outliers, I used the z-score approach on the total sales numbers and removed 
            data points that have a z-score of over three and under negative three. In order to check 
            for data consistency, I checked the unique values for each feature, and found that under 
            brand names, there were many brands that were described in different names. For instance, 
            “Natural” was also recorded as “ncc”, “Grainwaves” was also recorded as “Grain” or 
            “Grnwves”,etc… I renamed all the unique values into consistent names for each brand.  
        </p>
        <br>
        <table class="table table-striped">
            <caption>Top five rows of the Customer Behaviors dataset (Cleaned)</caption>
            <thead class="thead-dark">
              <tr style="text-align: center;">
                <!-- <th></th> -->
                <th>LYLTY CARD NBR</th>
                <th>LIFESTAGE</th>
                <th>CUSTOMER SEGMENTS</th>
              </tr>
            </thead>
            <tbody style="text-align: center;">
              <tr>
                <!-- <th>0</th> -->
                <td>1000</td>
                <td>YOUNG SINGLES/COUPLES</td>
                <td>Premium</td>
              </tr>
              <tr>
                <!-- <th>1</th> -->
                <td>1002</td>
                <td>YOUNG SINGLES/COUPLES</td>
                <td>Mainstream</td>
              </tr>
              <tr>
                <!-- <th>2</th> -->
                <td>1003</td>
                <td>YOUNG FAMILIES</td>
                <td>Budget</td>
              </tr>
              <tr>
                <!-- <th>3</th> -->
                <td>1004</td>
                <td>OLDER SINGLES/COUPLES</td>
                <td>Mainstream</td>
              </tr>
              <tr>
                <!-- <th>4</th> -->
                <td>1005</td>
                <td>MIDAGE SINGLES/COUPLES</td>
                <td>Mainstream</td>
              </tr>
            </tbody>
          </table>
        <p>
            The <b>Life Stage</b> feature identifies whether a customer has a family or not and what point 
            in life they are at. For example, are their children in pre-school/primary/secondary 
            school. The <b>Customer Segment</b> feature is the customer segmentation used to differentiate 
            shoppers by the price point of products they buy and the types of products they buy. It is used 
            to identify whether customers may spend more for quality or brand of whether they will purchase 
            the cheapest options. 

        </p>
        <p>
            Similar to what I did for the transactions dataset, I checked whether there are any null values, 
            checked unique values, and minimum/maximum values for each feature with numeric data. Not much 
            data cleaning was required for the customer behavior dataset and by plotting a simple bar chart, 
            I can see that most of the customers are labelled “Mainstream” so this may be a factor to keep 
            in mind, when deciding which customer segment to focus our attention on. 
            <figure class="figure">
                <img src="static/analysis_pics/customerBahavior.png" class="figure-img img-fluid rounded" alt="...">
                <!-- <figcaption class="figure-caption">A caption for the above image.</figcaption> -->
              </figure>
        </p>
        <br>
        <a href="#top-of-the-world">
            <button type="button" class="btn btn-dark">Top of Page</button>
        </a>
        <br>
        <br>
        <h4 class="another-lead text-center">Data Analysis</h4>
        <hr class="my-4">
        <p>
            To prepare for the analysis, I merged the two given datasets. Some key metrics I will focus on
            for this analysis are:
            <ul>
                <li>
                    Who spends the most on chips (total sales), describing customers by lifestage 
                    and how premium their general purchasing behavior is
                </li>
                <li>
                    How many customers are in each segment?
                </li>
                <li>
                    How many chips are bought per customer by segment?
                </li>
                <li>
                    What's the average chip price by customer segment?
                </li>
            </ul>
        </p>
        <br>
        <p><b>Find Out Which Customer Segment Spends The Most On Chips</b></p>
        <br>
        <figure class="figure">
            <img src="static/analysis_pics/Lifestage_vs_totalSales.png" class="figure-img my-center rounded" alt="...">
            <!-- <figcaption class="figure-caption my-center">A caption for the above image.</figcaption> -->
          </figure>
          <p>
              Sales mostly came from the <i>Budget customers</i> from the "Older families" segment, and <i>mainstream customers</i> from 
              the "young singles/couples" and "Retirees" segment.
          </p>
          <p>
              Now check to see if the higher sales are caused by higher number of customers in the respective 
              customer segment
          </p>
        <br>

        <p><b>Number of Customers In Each Customer Segment</b></p>
        <figure class="figure">
            <img src="static/analysis_pics/Lifestage_vs_numberOfCustomers.png" class="figure-img my-center rounded" alt="...">
            <!-- <figcaption class="figure-caption my-center">A caption for the above image.</figcaption> -->
        </figure>
        <p>
            There are more <i>Mainstream customers</i> in "Young singles/couples" and "retirees" segments, which lead
            to a higher total sales for the respective segments. The number <i>Budget customers</i> in the "Older Families" 
            segment, however, was not a major driver of sales.
            
        </p>
        <p>
            Other factors that contribute to total sales could be units purchased. In other words, could we expect a higher
            sales number for a specific customer segment just because each customer purchased more? I will visualize this in 
            the following section.            
        </p>
        <br>
        <p><b>Number of Transactions For Each Customer Segment</b></p>
       <br>
        <figure class="figure">
            <img src="static/analysis_pics/Lifestage_vs_purchasePercustomer.png" class="figure-img my-center rounded" alt="...">
            <!-- <figcaption class="figure-caption my-center">A caption for the above image.</figcaption> -->
        </figure>
        <p>
            From this graph, we can see that customers from the "older families" and "young families" in general buy more chips, 
            averaging over four packs of chips per customer. 
        </p>
        <p>
            Next we investigate the average price per unit for each customer segment as this is also a driver of total sales.
        </p>
        <br>
        <p id="price-unit-graph"><b>Average Price Per Unit For Each Customer Segment</b></p>
        <br>
        <figure class="figure">
        
            <img src="static/analysis_pics/Lifestage_vs_pricePerUnit.png" class="figure-img my-center rounded" alt="...">
            <!-- <figcaption class="figure-caption my-center">A caption for the above image.</figcaption> -->
        </figure>
        <p>
            Mainstream customers from the "Young singles/couples" and "Midage singles/couples" are more likely to pay more per unit
            of chips compared to Budget and Premium Customers. The differences in average price per unit isn't large so we can 
            further analyze this using t-test to check if this difference is statistically different.
        </p>
        <p>
            Using Python's ttest_ind() function, I found the t-score between mainstream customers and budget/premium customers to be
            3 which means that the groups are threes times as different from each other. The p-value is the probability that the 
            results from the sample data occurred by chance. We got a very low p-value which indicates that the data did not occur 
            by chance. In this case, there is only a 1.47 x 10e-109 % probability that the results from the data happened 
            by chance.
        </p>
        <p>
            The small p-value indicates that young and mid-age singles and couples are significantly higher than that of 
            budget or premium, young and midage singles and couples
        </p>
        
        <br>
        <p><b>
            Find Out If A Specific Segment Tend To Buy A Particular Brand Of Chips
        </b></p>
        <br>
        <figure class="figure">
        
            <img src="static/analysis_pics/purchase_trend_by_brand.png" class="figure-img my-center rounded" alt="...">
            <figcaption class="figure-caption my-center">Number of purchases for each brand of chips from each customer segment.</figcaption>
        </figure>
        <p> 
            This graph describes the popularity of each brand within the mainstream, young singles/couples segment. We can see that 
            Kettle, Smiths, and Doritos are the most popular brand choice. I then want to see if there are any patterns within 
            consumers' purchase behavior.       
            In other words, if a customer buys chips from the "Kettle" brand, what would be the likelihood that he/she buys 
            "Smiths" at the same time?
    
        </p>
        <p>
            I will identify any patterns in the purchasing behavior using the <i>Affinity Analysis</i>. I chose this method because
            this type of analysis works great on transaction data.
        </p>
        <br>
        <br>
        <a href="#top-of-the-world">
            <button type="button" class="btn btn-dark">Top of Page</button>
        </a>
        <br>
        <br>
        <h4 class='another-lead text-center' id="affinity-analysis">Affinity Analysis</h4>
        <hr class='my-4'></hr>
        <br>
        <p>
            <b>A short explanation of Affinity Analysis:</b>

        </p>
        <p>
            Affinity analysis is used to find common patterns of items in large datasets. Through this analysis,
            the client will be able dive deeper into their transactions data, and find unexpected purchase pattern(s)
            of consumers who purchased product A and product B at the same time. Affinity analysis also
            allows the client to track purchase behaviors and develop recommendation engines for other products.
        </p>
        <p>
            The strength of this analysis is measured using three metrics:
            <ol>
                <li>
                    <b>Support:</b> The percentage of transactions that contain all the items within
                    an itemset. A higher support level means a higher occurance frequency. 
                </li>
                <br>
                <li>
                    <b>Confidence:</b> Measures reliability. For instance, a confidence level of 0.5
                        for Kettle and Dorito would mean that in 50% of the cases, these two brands were purchased.
                        The greater the confidence, the greater the likelihood that the consequent item will
                        be purchased with the antecedent.
                </li>
                <br>
                <li>
                    <b>Lift:</b> Measures the strength of association between product A and product B. The larger 
                    the Lift value, the greater the link between two products. In general, a lift value greater than 
                    1 could indicate a useful rule pattern

                </li>
            </ol>
            <br>
            The first data I want to look at is the relationshpi between different brands. I will focus this analysis on
            mainstream customers in the young singles/couples segment because they are one of the top contributors
            to total sales. After the analysis, we could decide whether to retain or further increase sales 
            for this segment. 
        </p>
        <div style='width:100%;overflow:scroll'>
            <!-- height: 400px; overflow:scroll -->
            <table class="table table-striped" id="brand-affinity-chart">
            <caption>Generated rules for brands with their corresponding support, confidence, lift</caption>
            <thead class='thead-dark'>
                <tr style="text-align: center;">
     
                  <th>antecedents</th>
                  <th>consequents</th>
                  <th>antecedent support</th>
                  <th>consequent support</th>
                  <th>support</th>
                  <th>confidence</th>
                  <th>lift</th>
                  <th>leverage</th>
                  <th>conviction</th>
                </tr>
              </thead>
              <tbody style="text-align: center;">
                <tr>
      
                  <td>(thins)</td>
                  <td>(kettle)</td>
                  <td>0.136208</td>
                  <td>0.386999</td>
                  <td>0.051347</td>
                  <td>0.376973</td>
                  <td>0.974093</td>
                  <td>-0.001366</td>
                  <td>0.983908</td>
                </tr>
                <tr>
          
                  <td>(smiths)</td>
                  <td>(kettle)</td>
                  <td>0.202352</td>
                  <td>0.386999</td>
                  <td>0.075629</td>
                  <td>0.373750</td>
                  <td>0.965765</td>
                  <td>-0.002681</td>
                  <td>0.978844</td>
                </tr>
                <tr>
           
                  <td>(pringles)</td>
                  <td>(kettle)</td>
                  <td>0.255976</td>
                  <td>0.386999</td>
                  <td>0.091564</td>
                  <td>0.357708</td>
                  <td>0.924312</td>
                  <td>-0.007498</td>
                  <td>0.954396</td>
                </tr>
                <tr>
        
                  <td>(doritos)</td>
                  <td>(kettle)</td>
                  <td>0.260402</td>
                  <td>0.386999</td>
                  <td>0.090047</td>
                  <td>0.345799</td>
                  <td>0.893540</td>
                  <td>-0.010729</td>
                  <td>0.937023</td>
                </tr>
                <tr>
       
                  <td>(smiths)</td>
                  <td>(doritos)</td>
                  <td>0.202352</td>
                  <td>0.260402</td>
                  <td>0.050967</td>
                  <td>0.251875</td>
                  <td>0.967254</td>
                  <td>-0.001725</td>
                  <td>0.988602</td>
                </tr>
                <tr>
         
                  <td>(pringles)</td>
                  <td>(doritos)</td>
                  <td>0.255976</td>
                  <td>0.260402</td>
                  <td>0.062603</td>
                  <td>0.244565</td>
                  <td>0.939183</td>
                  <td>-0.004054</td>
                  <td>0.979036</td>
                </tr>
                <tr>
      
                  <td>(doritos)</td>
                  <td>(pringles)</td>
                  <td>0.260402</td>
                  <td>0.255976</td>
                  <td>0.062603</td>
                  <td>0.240408</td>
                  <td>0.939183</td>
                  <td>-0.004054</td>
                  <td>0.979505</td>
                </tr>
                <tr>
          
                  <td>(kettle)</td>
                  <td>(pringles)</td>
                  <td>0.386999</td>
                  <td>0.255976</td>
                  <td>0.091564</td>
                  <td>0.236601</td>
                  <td>0.924312</td>
                  <td>-0.007498</td>
                  <td>0.974621</td>
                </tr>
                <tr>
      
                  <td>(kettle)</td>
                  <td>(doritos)</td>
                  <td>0.386999</td>
                  <td>0.260402</td>
                  <td>0.090047</td>
                  <td>0.232680</td>
                  <td>0.893540</td>
                  <td>-0.010729</td>
                  <td>0.963871</td>
                </tr>
                <tr>
    
                  <td>(doritos)</td>
                  <td>(smiths)</td>
                  <td>0.260402</td>
                  <td>0.202352</td>
                  <td>0.050967</td>
                  <td>0.195726</td>
                  <td>0.967254</td>
                  <td>-0.001725</td>
                  <td>0.991761</td>
                </tr>
                <tr>

                  <td>(kettle)</td>
                  <td>(smiths)</td>
                  <td>0.386999</td>
                  <td>0.202352</td>
                  <td>0.075629</td>
                  <td>0.195425</td>
                  <td>0.965765</td>
                  <td>-0.002681</td>
                  <td>0.991390</td>
                </tr>
                <tr>
    
                  <td>(kettle)</td>
                  <td>(thins)</td>
                  <td>0.386999</td>
                  <td>0.136208</td>
                  <td>0.051347</td>
                  <td>0.132680</td>
                  <td>0.974093</td>
                  <td>-0.001366</td>
                  <td>0.995932</td>
                </tr>
              </tbody>
            </table>
        </div>
        <br>
        <p>
            Observations
            <ul>
                <li>
                    The evidence shows a < 1 Lift ratio, which means that the rules are 
                    independent from each other, where a purchase of a brand of chips, is not a 
                    strong indicator of the the purchase of another brand.
                </li>
                <li>
                    Mainstream customers in the young singles/couples segment have low 
                    support levels and < 50% confidence levels between different brands. This 
                    indicates that the evidence does not support a strong purchase relationship 
                    between different brands.
                </li>
                <li>
                    I also looked at how much opportunity there is to use the popularity of 
                    one product to drive sales of another. For instance, 3060 kettle chips were 
                    sold but only 2059 doritos so we could drive more dorito sales through recommendations
                </li>
                <!-- <li>
                    The Apriori Algorithm calculates the frequency of occurence for each brand for 
                    the mainstream customers in the Young Singles/Couple segment which calculated to be:
                    33.48% for Kettle, 22.66% for Doritos, 23.04% for Pringles, 20.24% for Smiths. 
                </li> -->
            </ul>
        </p>
        <br>
        <!-- <h6>Find Out If A Specific Segment Tend To Buy A Particular Brand Of Chips</h6> -->
        
        <p><b>Conduct the same analysis but this time with package sizes</b></p>
        <div style='width:100%; height:400px; overflow:scroll'>
            <table class="table table-striped">
            <caption>Generated rules for pack size with their corresponding support, confidence, lift</caption>
            <thead class='thead-dark'>
                <tr style="text-align: right;">
                  <th>antecedents</th>
                  <th>consequents</th>
                  <th>antecedent support</th>
                  <th>consequent support</th>
                  <th>support</th>
                  <th>confidence</th>
                  <th>lift</th>
                  <th>leverage</th>
                  <th>conviction</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>(165)</td>
                  <td>(175)</td>
                  <td>0.127861</td>
                  <td>0.458202</td>
                  <td>0.060073</td>
                  <td>0.469832</td>
                  <td>1.025382</td>
                  <td>0.001487</td>
                  <td>1.021937</td>
                </tr>
                <tr>
                  <td>(170)</td>
                  <td>(175)</td>
                  <td>0.176932</td>
                  <td>0.458202</td>
                  <td>0.080435</td>
                  <td>0.454610</td>
                  <td>0.992162</td>
                  <td>-0.000635</td>
                  <td>0.993415</td>
                </tr>
                <tr>
                  <td>(150)</td>
                  <td>(175)</td>
                  <td>0.313773</td>
                  <td>0.458202</td>
                  <td>0.137726</td>
                  <td>0.438936</td>
                  <td>0.957954</td>
                  <td>-0.006045</td>
                  <td>0.965662</td>
                </tr>
                <tr>
                  <td>(134)</td>
                  <td>(175)</td>
                  <td>0.255976</td>
                  <td>0.458202</td>
                  <td>0.111167</td>
                  <td>0.434289</td>
                  <td>0.947811</td>
                  <td>-0.006121</td>
                  <td>0.957729</td>
                </tr>
                <tr>
                  <td>(330)</td>
                  <td>(175)</td>
                  <td>0.139244</td>
                  <td>0.458202</td>
                  <td>0.059188</td>
                  <td>0.425068</td>
                  <td>0.927688</td>
                  <td>-0.004614</td>
                  <td>0.942370</td>
                </tr>
                <tr>
                  <td>(110)</td>
                  <td>(175)</td>
                  <td>0.224738</td>
                  <td>0.458202</td>
                  <td>0.094220</td>
                  <td>0.419246</td>
                  <td>0.914981</td>
                  <td>-0.008755</td>
                  <td>0.932922</td>
                </tr>
                <tr>
                  <td>(170)</td>
                  <td>(150)</td>
                  <td>0.176932</td>
                  <td>0.313773</td>
                  <td>0.054762</td>
                  <td>0.309507</td>
                  <td>0.986405</td>
                  <td>-0.000755</td>
                  <td>0.993822</td>
                </tr>
                <tr>
                  <td>(175)</td>
                  <td>(150)</td>
                  <td>0.458202</td>
                  <td>0.313773</td>
                  <td>0.137726</td>
                  <td>0.300580</td>
                  <td>0.957954</td>
                  <td>-0.006045</td>
                  <td>0.981137</td>
                </tr>
                <tr>
                  <td>(134)</td>
                  <td>(150)</td>
                  <td>0.255976</td>
                  <td>0.313773</td>
                  <td>0.074997</td>
                  <td>0.292984</td>
                  <td>0.933747</td>
                  <td>-0.005321</td>
                  <td>0.970597</td>
                </tr>
                <tr>
                  <td>(110)</td>
                  <td>(150)</td>
                  <td>0.224738</td>
                  <td>0.313773</td>
                  <td>0.065385</td>
                  <td>0.290940</td>
                  <td>0.927231</td>
                  <td>-0.005131</td>
                  <td>0.967798</td>
                </tr>
                <tr>
                  <td>(110)</td>
                  <td>(134)</td>
                  <td>0.224738</td>
                  <td>0.255976</td>
                  <td>0.057797</td>
                  <td>0.257175</td>
                  <td>1.004685</td>
                  <td>0.000270</td>
                  <td>1.001615</td>
                </tr>
                <tr>
                  <td>(175)</td>
                  <td>(134)</td>
                  <td>0.458202</td>
                  <td>0.255976</td>
                  <td>0.111167</td>
                  <td>0.242617</td>
                  <td>0.947811</td>
                  <td>-0.006121</td>
                  <td>0.982362</td>
                </tr>
                <tr>
                  <td>(150)</td>
                  <td>(134)</td>
                  <td>0.313773</td>
                  <td>0.255976</td>
                  <td>0.074997</td>
                  <td>0.239017</td>
                  <td>0.933747</td>
                  <td>-0.005321</td>
                  <td>0.977714</td>
                </tr>
                <tr>
                  <td>(134)</td>
                  <td>(110)</td>
                  <td>0.255976</td>
                  <td>0.224738</td>
                  <td>0.057797</td>
                  <td>0.225791</td>
                  <td>1.004685</td>
                  <td>0.000270</td>
                  <td>1.001360</td>
                </tr>
                <tr>
                  <td>(150)</td>
                  <td>(110)</td>
                  <td>0.313773</td>
                  <td>0.224738</td>
                  <td>0.065385</td>
                  <td>0.208384</td>
                  <td>0.927231</td>
                  <td>-0.005131</td>
                  <td>0.979341</td>
                </tr>
                <tr>
                  <td>(175)</td>
                  <td>(110)</td>
                  <td>0.458202</td>
                  <td>0.224738</td>
                  <td>0.094220</td>
                  <td>0.205631</td>
                  <td>0.914981</td>
                  <td>-0.008755</td>
                  <td>0.975947</td>
                </tr>
                <tr>
                  <td>(175)</td>
                  <td>(170)</td>
                  <td>0.458202</td>
                  <td>0.176932</td>
                  <td>0.080435</td>
                  <td>0.175545</td>
                  <td>0.992162</td>
                  <td>-0.000635</td>
                  <td>0.998318</td>
                </tr>
                <tr>
                  <td>(150)</td>
                  <td>(170)</td>
                  <td>0.313773</td>
                  <td>0.176932</td>
                  <td>0.054762</td>
                  <td>0.174526</td>
                  <td>0.986405</td>
                  <td>-0.000755</td>
                  <td>0.997086</td>
                </tr>
                <tr>
                  <td>(175)</td>
                  <td>(165)</td>
                  <td>0.458202</td>
                  <td>0.127861</td>
                  <td>0.060073</td>
                  <td>0.131107</td>
                  <td>1.025382</td>
                  <td>0.001487</td>
                  <td>1.003735</td>
                </tr>
                <tr>
                  <td>(175)</td>
                  <td>(330)</td>
                  <td>0.458202</td>
                  <td>0.139244</td>
                  <td>0.059188</td>
                  <td>0.129175</td>
                  <td>0.927688</td>
                  <td>-0.004614</td>
                  <td>0.988437</td>
                </tr>
              </tbody>
            </table>
        </div>
        <br>
        
        <div class="row">
            <div class="col-sm-6">
                <div style='width:100%; height:400px; overflow:scroll'>
                    <table class="table table-striped">
                    <caption>Generated rules for pack size with their corresponding support, confidence, lift</caption>
                    <thead class="thead-dark">
                        <tr style="text-align: center;">
                          <th>support</th>
                          <th>itemsets</th>
                        </tr>
                      </thead>
                      <tbody style="text-align: center;">
                        <tr>
                          <td>0.458202</td>
                          <td>(175)</td>
                        </tr>
                        <tr>
                          <td>0.313773</td>
                          <td>(150)</td>
                        </tr>
                        <tr>
                          <td>0.255976</td>
                          <td>(134)</td>
                        </tr>
                        <tr>
                          <td>0.224738</td>
                          <td>(110)</td>
                        </tr>
                        <tr>
                          <td>0.176932</td>
                          <td>(170)</td>
                        </tr>
                        <tr>
                          <td>0.139244</td>
                          <td>(330)</td>
                        </tr>
                        <tr>
                          <td>0.137726</td>
                          <td>(150, 175)</td>
                        </tr>
                        <tr>
                          <td>0.127861</td>
                          <td>(165)</td>
                        </tr>
                        <tr>
                          <td>0.111167</td>
                          <td>(134, 175)</td>
                        </tr>
                        <tr>
                          <td>0.094220</td>
                          <td>(110, 175)</td>
                        </tr>
                        <tr>
                          <td>0.080435</td>
                          <td>(170, 175)</td>
                        </tr>
                        <tr>
                          <td>0.076262</td>
                          <td>(380)</td>
                        </tr>
                        <tr>
                          <td>0.074997</td>
                          <td>(150, 134)</td>
                        </tr>
                        <tr>
                          <td>0.074870</td>
                          <td>(270)</td>
                        </tr>
                        <tr>
                          <td>0.070191</td>
                          <td>(210)</td>
                        </tr>
                        <tr>
                          <td>0.065385</td>
                          <td>(150, 110)</td>
                        </tr>
                        <tr>
                          <td>0.060073</td>
                          <td>(165, 175)</td>
                        </tr>
                        <tr>
                          <td>0.059188</td>
                          <td>(330, 175)</td>
                        </tr>
                        <tr>
                          <td>0.057797</td>
                          <td>(134, 110)</td>
                        </tr>
                        <tr>
                          <td>0.054762</td>
                          <td>(170, 150)</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>

            <div class="col-sm-6">
                <p>Observations</p>
                <p>

                    <ul>
                        <li>
                            similar to the relationship between brands, the low support, confidence, 
                            and life values indicates a weak relationship for purchase trends between 
                            package sizes.
                        </li>
                        <li>
                            Using the Apriori Algorithmn, we can see the frequency of purchase for 
                            specifc package sizes for mainstream customers in the young singles/couples segment.
                        </li>
                        <ul>
                            <li>45.82% for 175g</li> 
                            <li>31.38% for 150g</li>
                            <li>25.60% for 134g</li>

                        
                        </ul>
                    </ul>
                </p>
            </div>
        </div>
        <br>
        <br>

        

        <p><b>Brand Selection</b></p>
        <br>
        <div style='width:100%; height: 400px; overflow:scroll'>
            <table class="table table-striped">
            <!-- <caption></caption> -->
            <thead class='thead-dark'>
                <tr style="text-align: center;">
                  <th></th>
                  <th>Target</th>
                  <th>Non Target</th>
                  <th>Affinity To Brand</th>
                </tr>
                <tr style="text-align: center;">
                  <th>BRAND_NAME</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody style="text-align: center">
                <tr>
                  <th>kettle</th>
                  <td>0.196208</td>
                  <td>0.141866</td>
                  <td>1.383051</td>
                </tr>
                <tr>
                  <th>doritos</th>
                  <td>0.121804</td>
                  <td>0.088172</td>
                  <td>1.381433</td>
                </tr>
                <tr>
                  <th>tostitos</th>
                  <td>0.045555</td>
                  <td>0.033091</td>
                  <td>1.376669</td>
                </tr>
                <tr>
                  <th>tyrrells</th>
                  <td>0.031719</td>
                  <td>0.023309</td>
                  <td>1.360810</td>
                </tr>
                <tr>
                  <th>twisties</th>
                  <td>0.046016</td>
                  <td>0.034270</td>
                  <td>1.342751</td>
                </tr>
                <tr>
                  <th>pringles</th>
                  <td>0.118422</td>
                  <td>0.094762</td>
                  <td>1.249670</td>
                </tr>
                <tr>
                  <th>infuzions</th>
                  <td>0.064002</td>
                  <td>0.052931</td>
                  <td>1.209161</td>
                </tr>
                <tr>
                  <th>cobs</th>
                  <td>0.044274</td>
                  <td>0.036837</td>
                  <td>1.201892</td>
                </tr>
                <tr>
                  <th>grainwaves</th>
                  <td>0.033103</td>
                  <td>0.029830</td>
                  <td>1.109712</td>
                </tr>
                <tr>
                  <th>thins</th>
                  <td>0.059749</td>
                  <td>0.055012</td>
                  <td>1.086104</td>
                </tr>
                <tr>
                  <th>cheezels</th>
                  <td>0.017730</td>
                  <td>0.018592</td>
                  <td>0.953646</td>
                </tr>
                <tr>
                  <th>smiths</th>
                  <td>0.098232</td>
                  <td>0.136802</td>
                  <td>0.718061</td>
                </tr>
                <tr>
                  <th>cheetos</th>
                  <td>0.008506</td>
                  <td>0.013736</td>
                  <td>0.619283</td>
                </tr>
                <tr>
                  <th>red rock deli</th>
                  <td>0.044837</td>
                  <td>0.078599</td>
                  <td>0.570459</td>
                </tr>
                <tr>
                  <th>natural</th>
                  <td>0.020190</td>
                  <td>0.036975</td>
                  <td>0.546028</td>
                </tr>
                <tr>
                  <th>french</th>
                  <td>0.003997</td>
                  <td>0.008047</td>
                  <td>0.496687</td>
                </tr>
                <tr>
                  <th>ccs</th>
                  <td>0.011376</td>
                  <td>0.025806</td>
                  <td>0.440815</td>
                </tr>
                <tr>
                  <th>sunbites</th>
                  <td>0.006559</td>
                  <td>0.016164</td>
                  <td>0.405789</td>
                </tr>
                <tr>
                  <th>burger</th>
                  <td>0.003177</td>
                  <td>0.008047</td>
                  <td>0.394802</td>
                </tr>
                <tr>
                  <th>woolworths</th>
                  <td>0.024545</td>
                  <td>0.067152</td>
                  <td>0.365516</td>
                </tr>
              </tbody>
            </table>
        </div>
        <br>
        <p>Observations</p>
        <ul>
            <li>
                We can see that mainstream, young singles/couples are 38% more 
                likely to purchase Kettle branded chips compared to other brands.
                Although the top three choices of Kettle, Doritos and Tostitos 
                are closely competing with each other.
            </li>
            <li>
                If you scroll down to the bottom of the chart, 
                we can see that brands like Sunbites, Burger, and Woolworths have 40% 
                less likelihood to be the brand selection of mainstream, young 
                singles/couples customers.
            </li>
        </ul>
        <br>

        <p><b>Package Size Selection</b></p>
        <br>
        <div style='width:100%; height: 400px; overflow:scroll'>
            <table class="table table-striped">
                <thead class="thead-dark">
                  <tr style="text-align: center;">
                    <th></th>
                    <th>Target</th>
                    <th>None Target</th>
                    <th>Affinity to Packsize</th>
                  </tr>
                  <tr style="text-align: center;">
                    <th>PROD_SIZE</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody style="text-align: center;">
                  <tr>
                    <th>270</th>
                    <td>0.026737</td>
                    <td>0.024713</td>
                    <td>1.081881</td>
                  </tr>
                  <tr>
                    <th>135</th>
                    <td>0.013793</td>
                    <td>0.012826</td>
                    <td>1.075380</td>
                  </tr>
                  <tr>
                    <th>210</th>
                    <td>0.026559</td>
                    <td>0.024765</td>
                    <td>1.072435</td>
                  </tr>
                  <tr>
                    <th>380</th>
                    <td>0.026981</td>
                    <td>0.025420</td>
                    <td>1.061395</td>
                  </tr>
                  <tr>
                    <th>110</th>
                    <td>0.094342</td>
                    <td>0.089056</td>
                    <td>1.059354</td>
                  </tr>
                  <tr>
                    <th>330</th>
                    <td>0.051969</td>
                    <td>0.049953</td>
                    <td>1.040345</td>
                  </tr>
                  <tr>
                    <th>134</th>
                    <td>0.104232</td>
                    <td>0.100524</td>
                    <td>1.036887</td>
                  </tr>
                  <tr>
                    <th>170</th>
                    <td>0.081971</td>
                    <td>0.080373</td>
                    <td>1.019882</td>
                  </tr>
                  <tr>
                    <th>250</th>
                    <td>0.012966</td>
                    <td>0.012774</td>
                    <td>1.014989</td>
                  </tr>
                  <tr>
                    <th>150</th>
                    <td>0.162942</td>
                    <td>0.163044</td>
                    <td>0.999375</td>
                  </tr>
                  <tr>
                    <th>165</th>
                    <td>0.061597</td>
                    <td>0.062038</td>
                    <td>0.992899</td>
                  </tr>
                  <tr>
                    <th>175</th>
                    <td>0.264447</td>
                    <td>0.271859</td>
                    <td>0.972735</td>
                  </tr>
                  <tr>
                    <th>190</th>
                    <td>0.011633</td>
                    <td>0.012403</td>
                    <td>0.937898</td>
                  </tr>
                  <tr>
                    <th>180</th>
                    <td>0.005420</td>
                    <td>0.006198</td>
                    <td>0.874368</td>
                  </tr>
                  <tr>
                    <th>220</th>
                    <td>0.005775</td>
                    <td>0.006690</td>
                    <td>0.863153</td>
                  </tr>
                  <tr>
                    <th>200</th>
                    <td>0.016286</td>
                    <td>0.019038</td>
                    <td>0.855448</td>
                  </tr>
                  <tr>
                    <th>90</th>
                    <td>0.010956</td>
                    <td>0.012892</td>
                    <td>0.849792</td>
                  </tr>
                  <tr>
                    <th>70</th>
                    <td>0.005486</td>
                    <td>0.006472</td>
                    <td>0.847666</td>
                  </tr>
                  <tr>
                    <th>125</th>
                    <td>0.005242</td>
                    <td>0.006191</td>
                    <td>0.846647</td>
                  </tr>
                  <tr>
                    <th>160</th>
                    <td>0.010667</td>
                    <td>0.012767</td>
                    <td>0.835483</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <br>
        <p>Observations</p>
        <ul>
            <li>
                Mainstream young singles/couples are more likely to buy size 270g when compared to other 
                customer segments.
            </li>
            <li>
                Mainstream young singles/couples are less likely to purchase package sizes 
                that are 70g, 125g and 160g relative to other customer segments. 
            </li>
        </ul>
        
        <br>
        <a href="#top-of-the-world">
            <button type="button" class="btn btn-dark">Top of Page</button>
        </a>
        <br>
        <br>

        <h4 class="another-lead text-center">Conclusion</h4>
        <hr class="my-4">
        <p>
            Sales are the highest for Budget customers in the "Older Families" segment, mainstream customers in the "young singles/couples"
            segment, and mainstream customers from the "Retirees" segment respectively. 
            
            I later found out that the high sales numbers for (Mainstream, young singles/couples) and (Mainstream, Retirees) can be explained 
            by these segments having more customers. Mainstream customers from the young singles/couples segment are also likely to spend 
            more per package of chips compared to other types of customers which can be seen <a href='#price-unit-graph'>here</a>
        </p>
        <p>
            Using the <a href = "#affinity-analysis">Affinity (Market Basket) Analysis</a>, I found out that the relationship between brands
            and package sizes in terms of purchase habits is weak, meaning that we cannot accurately 
            assume that a customer will purchase a specific brand based on the purchase of one 
            brand of chips. Likewise, we cannot assume that a customer will purchase a specific 
            package size based on the previous purchase. 
        </p>
        <p>
            The client could relocate shelf placement of Kettle chips to popular shopping locations
            for mainstream customers, as the Kettle brand is the most popular for this customer segment. 
            Although not very clear, there are still some noticeable shopping patterns among chip brands like
            Kettle and Dorito (Refer to this <a href="#brand-affinity-chart">chart</a>). The client 
            could try recommending Dorito chips to shoppers looking to buy Kettle chips, by placing the two brands 
            in the same section in a store aisle. Since this group of shoppers enjoy Kettle chips already, 
            client could further boost sales by placing Kettle chips at eye level in the middle section of a 
            store aisle. 
           

        </p>


        <a href="#top-of-the-world">
            <button type="button" class="btn btn-dark">Top of Page</button>
        </a>

        <br>
    



        <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
      <!-- </div> -->
      


      
     
</body>
</html>


<!-- 
<div style='width:100%; height: 400px; overflow:scroll'>
    <table class="table table-striped">
    <caption>Top five rows of the Transactions dataset (Cleaned)</caption>
   
    </table>
</div> -->